{% extends 'website/base.html' %}
{% load static %}


{% block title %} Home {% endblock %}
			
		{% block body %}

		<div class="bgimg">
		<div class="container text-center text-white headerset">

				
			{% if messages %}
			<ul class="messages">
			    {% for msg in messages %}       
			    <li>
			        <div class="alert alert-{{msg.level_tag}}" role="alert">
			        {{msg.message}}
			        </div>
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}

			<h2>welcome To the Get-Old-Questions</h2>
			<h1>Complete old questions in single platform</h1>
			<button class="btn btn-warning text-white btn lg">SUSCRIBE</button>
			<h4>The purpose of this  site  is to help the student, <br>
				by providing upto date old questions of your faculty <br>
				Also we are working to provide you notes and study material <br>
				Be patient and have a good luck<br>
			</h4>
		</div>

	</div>
<div class="img">
	<section class="container ourservices text-white text-center" id ="service">
		<h1>SEE</h1>
		<P> This is one of the educational side so all the educationaal material you can easliy get here</P>
		<div class="row rowsetting">
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-file-pdf-o fa-3x text-white"></i>

					
				</div>
				<h2>E-Book</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-list-alt fa-3x text-white"></i>

					
				</div>
				<h2>Old Question</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-film fa-3x text-white"></i>

					
				</div>
				<h2>Extra Material</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
		</div>
	</section>
</div>
		<section class="container ourservices text-center" id ="+2">
		<h1>+2</h1>
		<P> This is one of the educational side so all the educationaal material you can easliy get here</P>
		<div class="row rowsetting">
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-file-pdf-o fa-3x text-white"></i>

					
				</div>
				<h2>E-Book</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-list-alt fa-3x text-white"></i>

					
				</div>
				<h2>Old Question</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-film fa-3x text-white"></i>

					
				</div>
				<h2>Extra Material</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
		</div>
	</section>
<div class="img-image">
	<section class="container ourservices text-white text-center" id ="BACHELOR">
		<h1>BACHELOR</h1>
		<P> This is one of the educational side so all the educationaal material you can easliy get here</P>
		<div class="row rowsetting">
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-file-pdf-o fa-3x text-white"></i>

					
				</div>
				<h2>E-Book</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-list-alt fa-3x text-white"></i>

					
				</div>
				<h2>Old Question</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-film fa-3x text-white"></i>

					
				</div>
				<h2>Extra Material</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
		</div>
	</section>


</div>
	
	<section class="ourteam "  id= "ourteam">
		<div class="container text-center">
			<h1>ABOUT US</h1>
			<p>This is the best combaintion of the ITcian group Of Csit nepal</p>
			<div class="row teamsetting">
				<div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
					<figure class="figure">
						<img src="{% static 'website/images/pro.jpg' %}" class="figure-img img-fluid rounded-circle" height="200px" width="200px">
						<ficaption>
							<h4>Prabin shrestha</h4>
							<p class="figure-caption">Founder/CEO</p>
							<h5>@Prabin shrestha is the recent<br>
							   sytem analyst and manager of<br>
							    Dark-media Lvt.com and have<br>
							    full experience python django</h5>


					</figure>
			</div>
				<div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
					<figure class="figure">
						<img src="{% static 'website/images/zuck.jpg' %}" class="figure-img img-fluid rounded-circle" height="200px" width="200px">
						<ficaption>
							<h4>Biplov </h4>
							<p class="figure-caption">AI developer</p>
							<h5>@Biplov Sharma is the recent<br>
							   sytem analyst and manager of<br>
							    Dark-media Lvt.com and have<br>
							    full experience web development</h5>

					</figure>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
					<figure class="figure">
						<img src="{% static 'website/images/kk.jpg' %}" class="figure-img img-fluid rounded-circle" height="200px" width="200px">
						<ficaption>
							<h4>Ravi Thekare</h4>
							<p class="figure-caption">fullstack Developer</p>
							<h5> @Ravi Thekare is the recent<br>
							   fullstack developer & SEO manager<br>
							    work on nepal turisum bord lpt.c<br>
							    ffull experience web development</h5>


					</figure>
			</div>
	</section>
<div class="image">

	<section class=" container contact text-center" id="ct-us">
		<h1>CONTACT US</h1>
	<div class="contact-form">
		<form method="POST" action="{% url 'contact' %}">
			{% csrf_token %}
			<input type="text" name="name" placeholder="your Name" required>
			
			
				
			<<input type="email" name="email" placeholder="your Email" required>
				
			<textarea name="message" placeholder="your message" required></textarea>
			<button class="btn btn-dark text-white btn lg">SUBMIT</button>


			<!--<input type="button" name="summit" value="send message" class="btn-btn">-->
		</form>
		
	</div> 	
<!--
	<div class="social-icon">
		
			<ul>
				
				<li><a><i class="fab fa-facebook-f"></i></a></li>
				
				<li><a><i class="fab fa-twitter"></i></a></li>
				<li><a><i class="fab fa-youtube"></i></a></li>
				
				<li><a><i class="fab fa-google"></i></a></li>
				<li><a><i class="fab fa-whatsapp"></i></a></li>
				<li><a><i class="fab fa-snapchat"></i></a></li>

			</ul>
		
		
	</div>	
-->

  </section>	
  
 
</div>

{% endblock %}


<!--<img src="{% static 'website/images/zz.jpeg' %}" >
	-->


		
	
	
	