{% extends 'website/base.html' %}
{% load static %}


{% block title %} Home {% endblock %}
			
		{% block body %}

		<div class="bgimg">
		<div class="container text-center text-white headerset">

				
			{% if messages %}
			<ul class="messages">
			    {% for msg in messages %}       
			    <li>
			        <div class="alert alert-{{msg.level_tag}}" role="alert">
			        {{msg.message}}
			        </div>
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}

			<h2>welcome To the Get-Old-Questions</h2>
			<h1>Complete old questions in single platform</h1>
			<button class="btn btn-warning text-white btn lg">SUSCRIBE</button>
			<h4>The purpose of this  site  is to help the student, <br>
				by providing upto date old questions of your faculty <br>
				Also we are working to provide you notes and study material <br>
				Be patient and have a good luck<br>
			</h4>
		</div>

	</div>
<div class="img">
	<section class="container ourservices text-white text-center" id ="service">
		<h1>SEE</h1>
		<P> This is one of the educational side so all the educationaal material you can easliy get here</P>
		<div class="row rowsetting">
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-file-pdf-o fa-3x text-white"></i>

					
				</div>
				<h2>E-Book</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-list-alt fa-3x text-white"></i>

					
				</div>
				<h2>Old Question</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-film fa-3x text-white"></i>

					
				</div>
				<h2>Extra Material</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
		</div>
	</section>
</div>
		<section class="container ourservices text-center" id ="+2">
		<h1>+2</h1>
		<P> This is one of the educational side so all the educationaal material you can easliy get here</P>
		<div class="row rowsetting">
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-file-pdf-o fa-3x text-white"></i>

					
				</div>
				<h2>11</h2>
				<h3><a class="btn btn-dark text-white btn lg" href="{% url 'plus-2' %}">CLICK</a></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-list-alt fa-3x text-white"></i>

					
				</div>
				<h2>12</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-film fa-3x text-white"></i>

					
				</div>
				<h2>Arts</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
		</div>
	</section>
<div class="img-image">
	<section class="container ourservices text-white text-center" id ="BACHELOR">
		<h1>BACHELOR</h1>
		<P> This is one of the educational side so all the educationaal material you can easliy get here</P>
		<div class="row rowsetting">
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-file-pdf-o fa-3x text-white"></i>

					
				</div>
				<h2>BScCSIT</h2>
				<h3><a class="btn btn-dark text-white btn lg" href="{% url 'semester' %}">CLICK</a></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-list-alt fa-3x text-white"></i>

					
				</div>
				<h2>BBA</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-film fa-3x text-white"></i>

					
				</div>
				<h2>BBS</h2>
				<h3><button class="btn btn-dark text-white btn lg">CLICK</button></h3>
				<h6>text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</h6>
			</div>
		</div>
	</section>


</div>
	
	
<div class="image">

	<section class=" container contact text-center" id="ct-us">
		<h1>CONTACT US</h1>
	<div class="contact-form">
		<form method="POST" action="{% url 'contact' %}">
			{% csrf_token %}
	    <!--   <input type="text" name="name" placeholder="your Name" required>
			
			
				
			<<input type="email" name="email" placeholder="your Email" required>
				
			<textarea name="message" placeholder="your message" required></textarea> <br>

		-->

			{{ form }}
			<button class="btn btn-dark text-white btn lg">SUBMIT</button>


			<!--<input type="button" name="summit" value="send message" class="btn-btn">-->
		</form>
		
	</div> 	
<!--
	<div class="social-icon">
		
			<ul>
				
				<li><a><i class="fab fa-facebook-f"></i></a></li>
				
				<li><a><i class="fab fa-twitter"></i></a></li>
				<li><a><i class="fab fa-youtube"></i></a></li>
				
				<li><a><i class="fab fa-google"></i></a></li>
				<li><a><i class="fab fa-whatsapp"></i></a></li>
				<li><a><i class="fab fa-snapchat"></i></a></li>

			</ul>
		
		
	</div>	
-->

  </section>	
  
 
</div>

{% endblock %}


<!--<img src="{% static 'website/images/zz.jpeg' %}" >
	-->


		
	
	
	